.top-left-controls {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 15px;
    z-index: 30;
}

.top-left-icon {
    color: #ffffff;
    font-size: 1.3rem;
    cursor: pointer;
    opacity: 0.7;
    transition:
        opacity 0.2s ease,
        transform 0.3s ease;
}

.top-left-icon:hover {
    opacity: 1;
    transform: scale(1.1);
}

.weather-box.clear-day .top-left-icon,
.weather-box.partly-cloudy-day .top-left-icon,
.weather-box.cloudy-day .top-left-icon,
.weather-box.overcast-day .top-left-icon,
.weather-box.drizzle-day .top-left-icon,
.weather-box.rain-day .top-left-icon,
.weather-box.moderate-rain-day .top-left-icon,
.weather-box.heavy-rain-day .top-left-icon,
.weather-box.extreme-rain-day .top-left-icon,
.weather-box.hail-day .top-left-icon,
.weather-box.snow-day .top-left-icon,
.weather-box.light-snow-day .top-left-icon,
.weather-box.heavy-snow-day .top-left-icon,
.weather-box.rain-snow-day .top-left-icon,
.weather-box.fog-day .top-left-icon,
.weather-box.thunderstorm-day .top-left-icon,
.weather-box.thunderstorm-rain-day .top-left-icon,
.weather-box.severe-thunderstorm-day .top-left-icon,
.weather-box.overcast-night .top-left-icon,
.weather-box.drizzle-night .top-left-icon,
.weather-box.rain-night .top-left-icon,
.weather-box.moderate-rain-night .top-left-icon,
.weather-box.heavy-rain-night .top-left-icon,
.weather-box.extreme-rain-night .top-left-icon,
.weather-box.hail-night .top-left-icon,
.weather-box.snow-night .top-left-icon,
.weather-box.light-snow-night .top-left-icon,
.weather-box.heavy-snow-night .top-left-icon,
.weather-box.rain-snow-night .top-left-icon,
.weather-box.thunderstorm-night .top-left-icon,
.weather-box.thunderstorm-rain-night .top-left-icon,
.weather-box.severe-thunderstorm-night .top-left-icon {
    color: #000000;
}

.weather-box.about-mode .top-left-icon {
    color: #ffffff !important;
}

/* ==================== MENU ==================== */
#main-menu {
    left: 10px;
    right: auto;
    transform-origin: top left;
    width: max-content;
    min-width: 180px;
}

#main-menu .settings-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
}

#about-btn, #privacy-btn, #terms-btn {
    font-size: 0.75rem;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.2s;
}

#about-btn:hover, #privacy-btn:hover, #terms-btn:hover {
    color:#b5e5ff;
}

.weatherboxMenu-title {
    font-family: "LocalImpact", "Impact", "Arial Narrow", sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: 0.5px;
    margin-left: 10px;
}
.box-text {
    color: rgb(255, 195, 100);
}

.weather-box.about-mode {
    background: #06184d !important;
}

.weather-box.about-mode::before,
.weather-box.about-mode::after,
.weather-box.about-mode .lightning,
.weather-box.about-mode .thunder-flash,
.weather-box.about-mode .rain-layer,
.weather-box.about-mode .hail-layer,
.weather-box.about-mode .snow-layer,
.weather-box.about-mode .fog-layer,
.weather-box.about-mode .cloud-layer,
.weather-box.about-mode .overcast-cloud-layer,
.weather-box.about-mode #radar-btn {
    display: none !important;
}

.about-panel {
    z-index: 10;
    display: none;
    flex-direction: column;
    text-align: left;
    color: #F9FAFB;;
    animation: fadeIn 0.3s ease;
}

.about-panel.active {
    display: flex;
}

.about-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.about-content h2 {
    margin: 0 0 15px 0;
    font-size: 1.5rem;
    font-family: "Oswald", sans-serif;
    color: #37b9ff;
    letter-spacing: 0.5px;
}

.about-close {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.2s, transform 0.2s;
}

.about-close i {
    font-size: 0.9rem;
}

.about-close:hover {
    color: #F9FAFB;
    transform: scale(1.01);
}

.about-content {
    font-family: 'Calibri', sans-serif;
    font-size: 0.7rem;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.9);
}

.about-content h3 {
    margin-top: 10px;
    margin-bottom: 12px;
    font-family: "Oswald", sans-serif;
    color: #4da8da;
    font-size: 1.2rem;
    font-weight: 500;
}

.about-content p {
    margin-bottom: 12px;
}

.about-panel::-webkit-scrollbar {
    width: 6px;
}
.about-panel::-webkit-scrollbar-track {
    background: transparent;
}
.about-panel::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
